[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
pandas = "*"
sentencepiece = "*"
ta = "*"
scikit-learn = "==0.24.1"
requests = "*"
toml = "*"
xgboost = "*"
pyTelegramBotAPI = "*"
tinvest = "*"
mock = "*"
pytest = "*"
pyyaml = "*"
pymorphy2 = "*"
pytest-mock = "*"
python-telegram-bot = "*"
pymongo = "*"
numpy = "*"
telegram = "*"
fastapi = "*"
uvicorn = "*"


[dev-packages]

[requires]
python_version = "3.8"
