[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
pandas = "*"
transformers = "*"
torch = "*"
sentencepiece = "*"
ta = "*"
scikit-learn = "==0.24.1"
requests = "*"
toml = "*"
pyinstaller = "*"
xgboost = "*"
pyTelegramBotAPI = "*"
tinvest = "*"
mock = "*"
pytest = "*"
feedparser = "*"
pyyaml = "*"
beautifulsoup4 = "*"
slovnet = "*"
pymorphy2 = "*"
pytest-mock = "*"
python-telegram-bot = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.8"
